.products-container {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
grid-gap: 45px;
width: 80%;
max-width: 1200px;
margin: auto;
padding: var(--spacing-large) auto;
}

.products-element {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 25px 20px;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);

}
.products-element__name {
    margin-bottom: auto;
    font-weight: bold;
    margin-top: var(--spacing-mediun);
}

.products-element__img {
    width: 100%;
    height: 270px;
    object-fit: contain;
}
.products-element__price {
    margin-top: var(--spacing-mediun);
    color: var(--coclor-nonaccent);
}
.products-element__btn {
    margin-top: var(--spacing-mediun);
}